.git
.gitignore
.vscode
.idea

**/bin/
**/obj/
**/TestResults/

.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
*.jks
*.kubeconfig
id_rsa
id_ed25519
secrets/
.aws/
.ssh/

logs/
*.log

README.md
docker-compose*.yml
compose*.yml
